@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.font-16 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.font-14 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;

    @media @width-767 {
        font-size: 12px;
        line-height: 16px;
    }

    &.font-14-bold {
        font-weight: 700;
    }
}

.font-13 {
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;

    &-big {
        line-height: 24px;
    }

    &.font-13-light {
        font-weight: 300;
    }
}

.font-12 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.font-11 {
    font-size: 11px;
    line-height: 11px;
    font-weight: 400;
}

.font-10 {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
}