.box-shadow (@value) {
    -webkit-box-shadow: @value;
    -moz-box-shadow: @value;
    -ms-box-shadow: @value;
    -o-box-shadow: @value;
    box-shadow: @value;
}

.transition(@value) {
    -webkit-transition: @value;
    -moz-transition: @value;
    -ms-transition: @value;
    -o-transition: @value;
    transition: @value;
}

.tranform(@value) {
    -webkit-transform: @value;
    -moz-transform: @value;
    -ms-transform: @value;
    -o-transform: @value;
    transform: @value;
}

.trans-dur(@value) {
    -webkit-transition-duration: @value;
    -moz-transition-duration: @value;
    -ms-transition-duration: @value;
    -o-transition-duration: @value;
    transition-duration: @value;
}

.rotate(@value) {
    -webkit-transform: rotate(@value);
    -moz-transform: rotate(@value);
    -ms-transform: rotate(@value);
    -o-transform: rotate(@value);
    transform: rotate(@value);
}

.placeholder-color(@value) {
    -webkit-input-placeholder: @value;
    -moz-placeholder: @value;
    -moz-placeholder: @value;
    -ms-input-placeholder: @value;
}