@import 'mixins.less';
@import 'variables.less';
@import 'fonts.less';

@tailwind base;
@tailwind components;
@tailwind utilities;


// DEFAULT STYLES START
body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
}

a {
    text-decoration: none;

    &:hover {
        .trans-dur(@t-03);
    }
}

header {
    .navbar-form {
        .form-group {
            min-width: 340px;

            @media screen and (max-width: 1280px) {
                min-width: 300px;
            }

            .form-control {
                padding: 5px 10px;
                font-weight: 300;
                width: 100%;
                background: transparent;
            }
        }
    }
}

body {
    font-family: Muli, sans-serif;
    margin: 0;
    background: #fbfbfb;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1240px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 575px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.container-big {
    max-width: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
    margin: 0;
}

.hamburger {
    min-width: 40px;
    height: 27px;
    position: relative;
    cursor: pointer;

    span {
        position: absolute;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: #0f3830;
        border-radius: 5px;
        .trans-dur(0.3s);

        &:nth-of-type(1) {
            top: 0;
        }

        &:nth-of-type(2) {
            top: 11px;
        }

        &:nth-of-type(3) {
            bottom: 0;
        }
    }

    &.open {
        span {
            &:nth-of-type(1) {
                top: 11px;
                transform: rotate(45deg);
            }

            &:nth-of-type(2) {
                width: 0;
            }

            &:nth-of-type(3) {
                bottom: 11px;
                transform: rotate(-45deg);
            }
        }
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 250px;
    transform: translateX(-100%);
    transition: all .25s;
    background-color: #1D1E20;
    box-shadow: 0.1rem 0 0.6rem 0 rgba(50, 50, 50, 0.65);
    visibility: hidden;
    z-index: 1001;
    overflow-y: auto;

    &.open {
        transform: translateX(0);
        visibility: visible;
    }
}