// @color-primary: #0088cc;
// @color-secondary: #222529;
// @color-white: #fff;
// @color-dark: #151719;

@t-03: 0.3s;

@width-1499: ~'only screen and (max-width: 1499px)';
@width-1199: ~'only screen and (max-width: 1199px)';
@width-992: ~'only screen and (min-width: 992px)';
@width-991: ~'only screen and (max-width: 991px)';
@width-768: ~'only screen and (min-width: 768px)';
@width-767: ~'only screen and (max-width: 767px)';
@width-575: ~'only screen and (max-width: 575px)';
@width-379: ~'only screen and (max-width: 379px)';