<div class="flex items-center">
    <a href="tel:070072772" class="flex items-center group">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-gray-900 mr-1" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
        </svg>
        <div class="hidden md:flex flex-col">
            <p class="font-14 text-black">Zadzwoń!</p>
            <p class="font-18 text-black font-semibold transition duration-150 ease-in-out group-hover:text-blue-500">
                0700 72 772</p>
        </div>
    </a>
    <a href="mailto:lorem@ipsum.pl" class="flex items-center ml-8 group">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-gray-900 mr-1" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
        <div class="hidden md:flex flex-col">
            <p class="font-14 text-black">Napisz!</p>
            <p class="font-18 text-black font-semibold transition duration-150 ease-in-out group-hover:text-blue-500">
                lorem@ipsum.pl</p>
        </div>
    </a>
</div>