<select name="currency" class="">
    <option value="zl">zł</option>
    <option value="eur">eur</option>
    <option value="usd">usd</option>
    <option value="gbp">gbp</option>
</select>
<button class="text-white">OK</button>