<div class="flex justify-center flex-col py-4 my-2 md:flex-row border border-gray-300 border-solid">
    <div class="flex justify-center w-full md:w-1/3">
        <div class="flex flex-col w-full sm:w-2/4 px-4 md:w-auto md:flex-row">
            <div class="flex justify-center pr-0 mb-1 md:justify-start md:pr-2 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-9 h-9 md:w-10 md:h-10 text-gray-900" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path fill="#fff" d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0" />
                </svg>
            </div>
            <div>
                <h4 class="font-14 text-center font-14-bold uppercase md:text-left">
                    Darmowa dostawa i zwroty
                </h4>
                <p class="font-13 text-center font-13-light md:text-left">
                    Darmowa dostawa przy zamówieniu powyżej 666 zł
                </p>
            </div>
        </div>
    </div>
    <div class="my-5 flex justify-center w-full md:w-1/3 md:my-0 md:border-l md:border-r md:border-gray-300 md:border-solid">
        <div class="flex flex-col w-full sm:w-2/4 px-4 md:w-auto md:flex-row">
            <div class="flex justify-center pr-0 mb-1 md:justify-start md:pr-2 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-9 h-9 md:w-10 md:h-10 text-gray-900" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </div>
            <div>
                <h4 class="font-14 text-center font-14-bold uppercase md:text-left">
                    Gwarancja zwrotu pieniędzy
                </h4>
                <p class="font-13 text-center font-13-light md:text-left">
                    100% zwrot pieniędzy
                </p>
            </div>
        </div>
    </div>
    <div class="flex justify-center w-full md:w-1/3">
        <div class="flex flex-col w-full sm:w-2/4 px-4 md:w-auto md:flex-row">
            <div class="flex justify-center pr-0 mb-1 md:justify-start md:pr-2 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-9 h-9 md:w-10 md:h-10 text-gray-900" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5.636 18.364a9 9 0 010-12.728m12.728 0a9 9 0 010 12.728m-9.9-2.829a5 5 0 010-7.07m7.072 0a5 5 0 010 7.07M13 12a1 1 0 11-2 0 1 1 0 012 0z" />
                </svg>
            </div>
            <div>
                <h4 class="font-14 text-center font-14-bold uppercase md:text-left">
                    Wsparcie online 24/7
                </h4>
                <p class="font-13 text-center font-13-light md:text-left">
                    Lorem ipsum
                </p>
            </div>
        </div>
    </div>
</div>



