{% load i18n %}
<footer>
    <div class="bg-gray-800 py-6">
        <div class="xl:container w-full mx-auto px-4">
            <div class="pb-4 md:pb-8 mb-4 md:mb-8 border-0 border-b border-gray-600 border-solid">
                <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
                    <div>
                        <h3 class="font-18 font-semibold text-gray-100 mb-4">O NAS</h3>
                        <div class="mb-4">
                            {% include "oscar/partials/logo.html" %}
                        </div>
                        <p class="font-13 font-13-big text-gray-400 mb-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et
                            dapibus
                            lacus.
                            Duis nec vestibulum magna, et dapibus lacus.
                        </p>
                        <a href="#" class="font-13 text-gray-100 hover:text-blue-500"><strong>czytaj
                                więcej...</strong></a>
                    </div>
                    <div>
                        <h3 class="font-18 font-semibold text-gray-100 mb-4">KONTAKT</h3>
                        <div>
                            <p class="font-13 text-gray-100">ADRES:</p>
                            <p class="font-13 text-gray-400 mb-2 md:mb-4">123 Street Name, City, England</p>
                            <p class="font-13 text-gray-100">TELEFON:</p>
                            <p class="font-13 text-gray-400 mb-2 md:mb-4"><a href="tel:070072772"
                                    class="inline-block hover:text-blue-500">0 700 72 772</a>
                            </p>
                            <p class="font-13 text-gray-100">EMAIL:</p>
                            <p class="font-13 text-gray-400 mb-2 md:mb-4"><a href="mailto:lorem@ipsum.pl"
                                    class="inline-block hover:text-blue-500">lorem@ipsum.pl</a>
                            </p>
                            <p class="font-13 text-gray-100">GODZINY PRACY</p>
                            <p class="font-13 text-gray-400 mb-2 md:mb-4">Pn-Pt: 8.00-16.00<br />So: 10.00-14.00</p>
                        </div>
                        <div>
                            {% include "oscar/partials/social-media-footer.html" %}
                        </div>
                    </div>
                    <div>
                        <h3 class="font-18 font-semibold text-gray-100 mb-4">LINKI</h3>
                        <di>
                            <ol class="grid gap-2 grid-cols-3 sm:grid-cols-2 lg:block">
                                <li><a href="#" class="font-13 text-gray-400 inline-block hover:text-blue-500">lorem
                                        ipsum</a>
                                </li>
                                <li><a href="#" class="font-13 text-gray-400 inline-block hover:text-blue-500">lorem
                                        ipsum</a>
                                </li>
                                <li><a href="#" class="font-13 text-gray-400 inline-block hover:text-blue-500">lorem
                                        ipsum</a>
                                </li>
                                <li><a href="#" class="font-13 text-gray-400 inline-block hover:text-blue-500">lorem
                                        ipsum</a>
                                </li>
                                <li><a href="#" class="font-13 text-gray-400 inline-block hover:text-blue-500">lorem
                                        ipsum</a>
                                </li>
                                <li><a href="#" class="font-13 text-gray-400 inline-block hover:text-blue-500">lorem
                                        ipsum</a>
                                </li>
                                <li><a href="#" class="font-13 text-gray-400 inline-block hover:text-blue-500">lorem
                                        ipsum</a>
                                </li>
                                <li><a href="#" class="font-13 text-gray-400 inline-block hover:text-blue-500">lorem
                                        ipsum</a>
                                </li>
                                <li><a href="#" class="font-13 text-gray-400 inline-block hover:text-blue-500">lorem
                                        ipsum</a>
                                </li>
                            </ol>
                        </di>
                    </div>
                    <div>
                        <h3 class="font-18 font-semibold text-gray-100 mb-4">TAGI</h3>
                        <div class="flex flex-wrap">
                            <a href="#"
                                class="font-11 text-gray-400 px-2 py-1 mr-2 mb-2 border border-gray-400 border-solid hover:text-white hover:border-white">Kurtki</a>
                            <a href="#"
                                class="font-11 text-gray-400 px-2 py-1 mr-2 mb-2 border border-gray-400 border-solid hover:text-white hover:border-white">Swetry</a>
                            <a href="#"
                                class="font-11 text-gray-400 px-2 py-1 mr-2 mb-2 border border-gray-400 border-solid hover:text-white hover:border-white">Kamizelki</a>
                            <a href="#"
                                class="font-11 text-gray-400 px-2 py-1 mr-2 mb-2 border border-gray-400 border-solid hover:text-white hover:border-white">Płaszcze</a>
                            <a href="#"
                                class="font-11 text-gray-400 px-2 py-1 mr-2 mb-2 border border-gray-400 border-solid hover:text-white hover:border-white">Koszulki</a>
                            <a href="#"
                                class="font-11 text-gray-400 px-2 py-1 mr-2 mb-2 border border-gray-400 border-solid hover:text-white hover:border-white">Long</a>
                            <a href="#"
                                class="font-11 text-gray-400 px-2 py-1 mr-2 mb-2 border border-gray-400 border-solid hover:text-white hover:border-white">Jeansy</a>
                            <a href="#"
                                class="font-11 text-gray-400 px-2 py-1 mr-2 mb-2 border border-gray-400 border-solid hover:text-white hover:border-white">Spodenki</a>
                            <a href="#"
                                class="font-11 text-gray-400 px-2 py-1 mr-2 mb-2 border border-gray-400 border-solid hover:text-white hover:border-white">Getry</a>
                            <a href="#"
                                class="font-11 text-gray-400 px-2 py-1 mr-2 mb-2 border border-gray-400 border-solid hover:text-white hover:border-white">Kalesony</a>
                            <a href="#"
                                class="font-11 text-gray-400 px-2 py-1 mr-2 mb-2 border border-gray-400 border-solid hover:text-white hover:border-white">Skarpetki</a>
                            <a href="#"
                                class="font-11 text-gray-400 px-2 py-1 mr-2 mb-2 border border-gray-400 border-solid hover:text-white hover:border-white">Bokserki</a>
                            <a href="#"
                                class="font-11 text-gray-400 px-2 py-1 mr-2 mb-2 border border-gray-400 border-solid hover:text-white hover:border-white">Majtki
                                dla Babci</a>
                            <a href="#"
                                class="font-11 text-gray-400 px-2 py-1 mr-2 mb-2 border border-gray-400 border-solid hover:text-white hover:border-white">Szaliki</a>
                            <a href="#"
                                class="font-11 text-gray-400 px-2 py-1 mr-2 mb-2 border border-gray-400 border-solid hover:text-white hover:border-white">Czapki</a>
                            <a href="#"
                                class="font-11 text-gray-400 px-2 py-1 mr-2 mb-2 border border-gray-400 border-solid hover:text-white hover:border-white">Paski</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center md:justify-between flex-col md:flex-row">
                <div>
                    <p class="font-12 text-white mb-2 md:mb-0">© Cnetic 2021. Wszelkie prawa zastrzeżone.</p>
                </div>
                <div class="flex items-center">
                    <img src="https://picsum.photos/50/25" class="mx-1 ml-0" alt="logo.png">
                    <img src="https://picsum.photos/50/25" class="mx-1" alt="logo.png">
                    <img src="https://picsum.photos/50/25" class="mx-1 mr-0" alt="logo.png">
                </div>
            </div>
        </div>
    </div>
</footer>