<header>
    <div class="bg-blue-500 flex items-center">
        <div class="xl:container w-full mx-auto px-4 py-1">
            <div class="flex items-center justify-between py-1">
                <div class="flex items-center">
                    <div class="mr-4">
                        {% include "oscar/partials/language.html" %}
                    </div>
                    <div>
                        {% include "oscar/partials/currency.html" %}
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="mr-4 hidden lg:block">
                        {% include "oscar/partials/nav_primary.html" %}
                    </div>
                    <div class="flex items-center">
                        <div class="pl-0 lg:pl-4 lg:border-l lg:border-white lg:border-solid">
                            {% include "oscar/partials/social-media-header.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xl:container w-full mx-auto px-4">
        <div class="flex items-center justify-between py-4">
            <div class="flex items-center">
                <div>
                    {% include "oscar/partials/logo.html" %}
                </div>
                <div class="ml-8 hidden lg:block">
                    {% include "oscar/partials/search.html" %}
                </div>
            </div>
            <div class="flex items-center">
                <div class="block md:hidden mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" id="search"
                        class="h-8 w-8 text-gray-900 cursor-pointer transition duration-150 hover:text-blue-500"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </div>
                <div class="hidden md:flex items-center mr-0 xl:mr-8">
                    {% include "oscar/partials/call-us.html" %}
                </div>
                <div class="flex items-center">
                    {% include "oscar/partials/shop-icons.html" %}
                </div>
                <div class="block ml-4 lg:ml-0 lg:hidden">
                    {% include "oscar/partials/hamburger.html" %}
                </div>
            </div>
        </div>
    </div>
</header>