<select name="language" class="">
    <option value="pl">polski</option>
    <option value="ru">Русский</option>
    <option value="sk">Slovensky</option>
    <option value="uk">Українська</option>
</select>
<button class="text-white">OK</button>