{% load i18n %}

<form method="get" action="{% url 'search:search' %}" class="navbar-form flex items-center py-1 px-4 bg-gray-100 rounded-full">
    <div class="form-group">
        {{ search_form.q }}
    </div>
    <div class="relative ml-4 group">
        <input type="submit" value="X" class="h-7 w-7 bg-transparent text-transparent cursor-pointer" />
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 absolute top-0 left-0 text-gray-400 pointer-events-none transition duration-150 group-hover:text-gray-600" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
    </div>

</form>