<div class="flex items-center">
    <a href="#" class="mr-2 md:mx-3 group">
        <svg xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8 md:w-9 md:h-9 text-gray-900 transition duration-150 group-hover:text-blue-500" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
        </svg>
    </a>
    <a href="#" class="mr-2 md:mx-3 group">
        <svg xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8 md:w-9 md:h-9 text-gray-900 transition duration-150 group-hover:text-blue-500" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
        </svg>
    </a>
    <a href="{{ homepage_url }}basket" class="md:mx-3 mr-0 group relative">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
            class="w-8 h-8 md:w-9 md:h-9 text-gray-900 transition duration-150 group-hover:text-blue-500"
            viewBox="0 0 24 24" stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
        </svg>
        <div class="TO JESZCZE NIE DZIAŁA basket absolute bottom-0 z-0 left-0 opacity-0 pointer-events-none overflow-hidden h-0 transition duration-150 group-hover:h-full group-hover:opacity-100 group-hover:pointer-events-auto group-hover:z-10">
            lorem ipsum
        </div>
    </a>
</div>