<a href="#" class="mx-1 ml-0 group">
    <i class="fab fa-facebook-f text-base transition duration-150 text-gray-100 group-hover:text-blue-500"></i>
</a>
<a href="#" class="mx-1 group">
    <i class="fab fa-instagram text-base transition duration-150 text-gray-100 group-hover:text-blue-500"></i>
</a>
<a href="#" class="mx-1 mr-0 group">
    <i class="fab fa-youtube text-base transition duration-150 text-gray-100 group-hover:text-blue-500"></i>
</a>