<div class="bg-gray-800">
    <div class="xl:container w-full mx-auto px-2">
        <div class="flex items-center justify-center relative py-1 flex-wrap">
            <h2 class="font-14 text-white">Promocja do <strong>40%</strong> na zimowy sezon!</h2>
            <a href="#"
                class="font-12 flex items-center bg-black px-2 py-1 m-1 text-white hover:bg-gray-700">MĘŻCZYZNA</a>
            <a href="#"
                class="font-12 flex items-center bg-black px-2 py-1 m-1 text-white hover:bg-gray-700">KOBIETA</a>
            <p class="font-12 text-gray-400">* Limitowana oferta</p>
        </div>
    </div>
</div>