{% extends "oscar/base.html" %}
{% load static %}

{% block styles %}
{% comment %}
If you are developing Oscar's CSS, or overriding Oscar's CSS
files in your project, then set OSCAR_USE_LESS = True in your
settings file. This will enable the on-the-fly less compiler.
{% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static "oscar/build/app.css" %}" />
{% endblock %}

{% block layout %}

{% block top-promotion %}
{% include "oscar/partials/top-promotions.html" %}
{% endblock %}

{% block main-header %}
{% include "oscar/partials/header.html" %}
{% endblock %}

<!-- <header class="header container-fluid">
        <div class="page_inner">
            <div class="row">
                {% include "oscar/partials/brand.html" %}
                {# Mini-basket wrapped in a block so some templates can now display it #}
                {% block mini_basket %}{% include "oscar/partials/mini_basket.html" %}{% endblock %}
            </div>
        </div>
        {% block navigation %}

        {% endblock %}
    </header> -->

<div>
    <div class="xl:container w-full mx-auto px-4">
        {% block content_wrapper %}
        <div class="page_inner">
            {% block breadcrumbs %}{% endblock %}
            {% block header %}
            <div class="page-header action">
                <h1>{% block headertext %}{% endblock %}</h1>
            </div>
            {% endblock %}
            {% include "oscar/partials/alert_messages.html" %}
            {% block subnavigation %}{% endblock %}
            <div class="content">
                {% block subheader %}{% endblock subheader %}

                {# Div exists for AJAX updates to entire content section #}
                <div id="content_inner">{% block content %}{% endblock %}</div>
            </div>
        </div>
        {% endblock %}
    </div>
</div>

{% block madin-footer %}
{% include "oscar/partials/mobile-menu.html" %}
{% endblock %}

{% block main-footer %}
{% include "oscar/partials/footer.html" %}{% endblock %}
{% endblock %}

{% block cdn_scripts %}
{{ block.super }}
{% if use_less and debug %}
{# Load the on-the-fly less compiler. Never do this in production. #}
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
{% endif %}
{% endblock %}

{# Local scripts #}
{% block scripts %}
{{ block.super }}
<!-- Twitter Bootstrap -->
<script src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script>
<!-- Oscar -->
<script src="{% static "oscar/js/oscar/ui.js" %}"></script>
<script>
    (function () {
        const hamburger = document.querySelector("#hamburger")
        const mobileMenu = document.querySelector("#mobile-menu")

        hamburger.addEventListener("click", function () {
            this.classList.toggle("open")
            mobileMenu.classList.toggle("open")
        });
    })()
</script>
{% endblock %}

{% block extrascripts %}
{% include "oscar/partials/extrascripts.html" %}
{{ block.super }}
{% endblock %}

{% block onbodyload %}
{{ block.super }}
oscar.init();
{% endblock %}